@font-face {
	font-family: inter; 
	src: url(assets/Inter/Inter-VariableFont_opsz\,wght.ttf) format('truetype-variations'); 
	font-weight: 1 999;
	font-style: normal; 
	font-display: swap; 
}

@font-face {
	font-family: inter;
	src: url(assets/Inter/Inter-Italic-VariableFont_opsz\,wght.ttf) format('truetype-variations'); 
	font-weight: 1 999;
	font-style: italic; 
	font-display: swap; 
}

/*
@media screen and (max-width: 992px){
	body {
		font-family: "inter";
		background-color: #eee;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		margin: 0; 
		padding: 0;
		font-size: 18px;
		line-height: 6vw;
	}

	#nav a {
		font-style: italic;
		text-decoration: none;
		color: white;
	}

	#main a {
		font-style: italic;
		text-decoration: none;
		color: red;
	}

	h1,
	h2,
	h3 {
		margin: 0;
	}

	#banner {
		position: fixed; 
		top: 0; 
		width: 101vw; 
		background-color: #66ccff;
		z-index: 1000;
		background-image: url("assets/images/AI\ River.png");
		background-size: cover; 
		background-position: center;
		background-repeat: no-repeat;
		display: flex; 
		justify-content: flex-start;
		align-items: right; 
	}

	#content {
		display: flex; 
		padding: 0vw;
		padding-top: 15vh;
		overflow-y: scroll; 
		overflow-wrap: break-word; 
	}

	#nav {
		position: relative; 
		z-index: 2; 
		width: 101vw;
		background-color: rgba(255, 255, 255, 0.15); 
		text-align: right;
		padding-right: 5vw;
	}

	#nav .selected {
		font-weight: 600;
	}

	#nav ul {
		margin: 0.8vw;
		padding: 3;
		list-style: none;
	}

	#nav li {
		display: inline-block;
		margin-right: 2vw; 
		margin-bottom: 0;
		vertical-align: middle; 
	}

	#main {
		width: 80vw;
		height: 80vh;
		float: left;
		margin-left: 10vw;
		margin-right: 10vw;
	}

	#footer {
		position:fixed; 
		bottom: 0;
		width: 101vw;
		clear: both;
		padding: 1.8vh;
		background-color: #999999;
		color: white;
		margin-right: 10vw;
		text-align: right;
	}

	#footnote {
		text-align:right; 
		margin-right: 5vw;
	}

	#projects ul {
		list-style-type: square;
	}
}
*/

@media screen and (max-width: 992px){
	body {
		font-family: "inter";
		background-color: #eee;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		margin: 0; 
		padding: 0;
		font-size: 18px;
		line-height: 2vw;
	}

	#nav a {
		font-style: italic;
		text-decoration: none;
		color: white;
	}

	#main a {
		font-style: italic;
		text-decoration: none;
		color: red;
	}

	h1,
	h2,
	h3 {
		margin: 0;
	}

	#banner {
		position: fixed; 
		top: 0; 
		width: 101vw; 
		background-color: #66ccff;
		z-index: 1000;
		background-image: url("assets/images/AI\ River.png");
		background-size: cover; 
		background-position: center;
		background-repeat: no-repeat;
		display: flex; 
		justify-content: flex-start;
		align-items: right; 
	}

	#content {
		display: flex; 
		padding: 0vw;
		padding-top: 15vh;
		overflow-y: scroll; 
		overflow-wrap: break-word; 
		line-height: 3vw;
	}

	#nav {
		position: relative; 
		z-index: 2; 
		width: 101vw;
		background-color: rgba(255, 255, 255, 0.15); 
		text-align: right;
		padding-right: 5vw;
	}

	#nav .selected {
		font-weight: 600;
	}

	#nav ul {
		margin: 0.8vw;
		padding: 3;
		list-style: none;
	}

	#nav li {
		display: inline-block;
		margin-right: 2vw; 
		margin-bottom: 0;
		vertical-align: middle; 
	}

	#main {
		width: 80vw;
		height: 80vh;
		float: left;
		margin-left: 10vw;
		margin-right: 10vw;
	}

	#footer {
		position:fixed; 
		bottom: 0;
		width: 101vw;
		clear: both;
		padding: 1.8vh;
		background-color: #999999;
		color: white;
		margin-right: 10vw;
		text-align: right;
	}

	#footnote {
		text-align:right; 
		margin-right: 5vw;
	}

	#projects ul {
		list-style-type: square;
	}
}