@media screen {
	body {
		font-family: "Courier New", monospace;
		background-color: #eee;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		margin: 0; 
		padding: 0;
	}

	#nav a {
		font-style: italic;
		text-decoration: none;
		color: white;
	}

	#main a {
		font-style: italic;
		text-decoration: none;
		color: red;
	}

	h1,
	h2,
	h3 {
		margin: 0;
	}


	#header {
		background-color: #66ccff;
		color: white;
		padding: 2vw;
	}

	#banner {
		position: fixed; 
		top: 0; 
		width: 101vw; 
		background-color: #66ccff;
		padding-top: 10vh; 
		z-index: 1000;
		background-image: url("assets/images/AI\ River.png");
		background-size: cover; 
		background-position: center;
		background-repeat: no-repeat;
		display: flex; 
		justify-content: flex-start;
		align-items: right; 
	}

	#content {
		padding: 0vw;
		margin-top: 15vh;
	}

	#return {
		font-family: "Courier New", monospace;
		font-size: 5vw;
	}

	#nav {
		position: relative; 
		z-index: 2; 
		width: 101vw;
		background-color: rgba(255, 255, 255, 0.15); 
		text-align: right;
		padding-right: 5vw;
	}

	#nav .selected {
		font-weight: 600;
	}

	#nav ul {
		margin: 0.8vw;
		padding: 3;
		list-style: none;
		font-size: 1.75vh;
	}

	#nav li {
		display: inline-block;
		margin-right: 2vw; 
		margin-bottom: 0;
		vertical-align: middle; 
	}

	#main {
		width: 50vw;
		height: 74.2vh;
		float: left;
		font-size: 1.75vh;
		padding-left: 10vw;
		padding-right: 10vw;
	}

	#footer {
		position:fixed; 
		bottom: 0;
		width: 101vw;
		clear: both;
		padding: 1.8vh;
		background-color: #999999;
		color: white;
		text-align: right;
	}

	#projects ul {
		list-style-type: square;
	}
}
